.scrapbook-container{
    margin:10px auto;
    min-height:85vh;
    position: relative;
    width:80vw;
    /* border:1px red solid; */
}

.scrapbook-image{
    width:20%;
    border: 10pv solid #fff;
    
}
